.saveMoreContainer {
  z-index: 20;
  position: relative;
  text-align: center;
}
.saveMoreContainer h1 {
  font-size: 45px;
}
.messageCharity img {
  width: 45px;
  margin-left: 10px;
  margin-bottom: 10px;
}
.greenheart {
  width: 50px;
  margin-left: 10px;
}
.messageCharity p {
  font-size: 14px;
}
.text_yellow {
  color: #f7a31a;
  font-weight: 700;
}
.text_blue {
  color: #03397e;
  font-weight: 700;
}
@media only screen and (max-width: 768px) {
  .saveMoreContainer h1 {
    font-size: 30px;
  }
  .greenheart {
    width: 38px;
  }
  .messageCharity p {
    font-weight: 400;
    font-size: 15px !important;
  }
}
