.root {
  margin: 0;
}
.link {
  display: inline-block;
  padding: 3px 8px;
  text-decoration: none;
  font-size: 1.125em;
}
.active_navbar_default {
  background: #fff !important;
  color: #fff;
  width: 100vw;
  height: 100px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 15px;
}
.link,
.link:active,
.link:visited {
  color: rgba(255, 255, 255, 0.6);
}
.link:hover {
  color: rgba(255, 255, 255, 1);
}
.highlight {
  margin-right: 8px;
  margin-left: 8px;
  border-radius: 3px;
  background: rgba(0, 0, 0, 0.15);
  color: #fff;
}
.highlight:hover {
  background: rgba(0, 0, 0, 0.3);
}
.spacer {
  color: rgba(255, 255, 255, 0.3);
}
.rightBorder {
  height: 15px;
  width: 2px;
  position: absolute;
  bottom: 20px;
  background: #fff;
}
.logSin {
  position: absolute;
  display: flex;
  top: 0px;
  right: -200px;
}
.logSin li {
  list-style: none;
  margin-right: 30px !important;
}
.logSin li a {
  text-decoration: none;
  color: #111111;
  font-size: 17px;
}
@media (max-width: 1200px) {
  .newMenu {
    height: 100vh;
    background: #fff !important;
  }
  .newMenuDesign {
    margin-top: 20px;
    border-top: 1px solid #dce0e0;
  }
  .newMenuDesign {
    margin-top: 60px;
  }
}
.navbarLeft {
  position: absolute;
  right: 0;
  top: 17px;
}
.nav_search_main {
  width: 600px;
  position: absolute;
  left: 34%;
  top: 6px;
}
.navbarLeft {
  display: none;
}

.navbarLeftActive {
  display: block;
  top: 6px;
  position: absolute;
  right: 26px;
}
/**/
@media (min-width: 768px) and (max-width: 1200px) {
  .newMenu {
    left: 0;
  }
  .newMenuDesign {
    margin-top: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .nav_search_main {
    display: none;
  }
  .navbarLeftActive {
    display: block;
    top: 6px;
    position: absolute;
    left: 26px;
  }
  .navbarLeft {
    display: block;
    left: 0;
  }
}
@media (max-width: 767px) {
  .newMenuDesign {
    margin-top: 60px;
  }
  .navbarLeftActive {
    display: block;
    top: 17px;
    position: absolute;
    left: 26px;
  }
}
