.root {
  margin: 0;
}
.navDropDown {
  border: 0px;
}
.userAvatar {
  height: 30px;
  width: 30px;
  border-radius: 50%;
  border: 2px solid #c4c4c4;
}
.breakPointScreen {
  display: none !important;
}
.nonBreakPointScreen {
  display: block !important;
}
.navbarLeft {
  position: absolute;
  right: 0;
  top: 17px;
}
.nav_search_main {
  width: 600px;
  position: absolute;
  left: 34%;
  top: 6px;
}
.navbarLeft {
  display: none;
}

.navbarLeftActive {
  display: block;
  top: 6px;
  position: absolute;
  right: 26px;
}
.active_navbar_default {
  background: #fff !important;
  color: #fff;
  width: 100vw;
  height: 100px;
  padding-left: 0px;
  padding-right: 0px;
  padding-bottom: 10px;
}
@media screen and (max-width: 1200px) {
  .breakPointScreen {
    display: block !important;
  }
  .nonBreakPointScreen {
    display: none !important;
  }
  .newMenu {
    height: 100vh;
    background: #fff !important;
    overflow-y: scroll;
  }
  .newMenuDesign {
    margin-top: 20px;
    border-top: 1px solid #dce0e0;
  }
  .newMenuDesign {
    margin-top: 60px;
  }
}
@media (min-width: 768px) and (max-width: 1100px) {
  .nav_search_main {
    display: none;
  }
  .navbarLeftActive {
    display: block;
    top: 17px;
    position: absolute;
    left: 26px;
  }
}

@media (min-width: 768px) and (max-width: 1200px) {
  .newMenu {
    left: 0;
  }
  .newMenuDesign {
    margin-top: 60px !important;
    border-top: 1px solid #dce0e0;
    margin-right: 0px !important;
  }
}
@media (max-width: 767px) {
  .newMenuDesign {
    margin-top: 60px;
  }
  .navbarLeftActive {
    display: block;
    top: 17px;
    position: absolute;
    left: 26px;
  }
}
