.searchAfterScroll {
  position: fixed;
  top: 0;
  left: 50%;
  transform: translate(-50%);
  z-index: 4000;
  transition: all 0.3s ease-in-out;
}
.search_main_container {
  display: flex !important;
  justify-content: space-around;
  align-items: center;
}

.icon_text {
  width: 500px;
  height: 50px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e9b31f;
  border-radius: 25px;
  overflow: hidden;
}
.selector {
  padding: 0px;
}
.selector select {
  background: transparent;
  border: none;
  color: #797a7a;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.4s;
  cursor: pointer;
  width: 70px;
  padding: 0px 8px;
}
.selector input {
  background: transparent;
  border: none;
  color: #797a7a;
  font-weight: 600;
  font-size: 17px;
  transition: all 0.4s;
  cursor: pointer;
  width: 70px;
  padding: 0px 8px;
}
.whenText {
  color: #797a7a;
  font-size: 18px;
  margin-right: -30px;
  font-weight: 700;
}

.selector select:focus {
  background: transparent;
  border: none;
  outline: none;
}
.borderRight {
  width: 2px;
  height: 11px;
  margin-top: 0px;
  background: #797a7a;
}
.margin {
  margin-right: 5px;
}
.search_icon {
  background: #eead41;
  padding: 15px 22px;
  margin-right: -22px;
  cursor: pointer;
}
.active_search_icon {
  background: #eead41;
  padding: 15px 22px;
  margin-right: -7px;
  cursor: pointer;
  color: #fff;
}
.active_search_icon svg {
  color: #fff;
}
.active_selector select {
  background: transparent;
  border: none !important;
  color: #797a7a;
  font-weight: 600;
  font-size: 16px;
  transition: all 0.4s;
  cursor: pointer;
}
.active_selector select:focus {
  border: none;
  outline: none;
}
.search_icon svg {
  color: #fff;
}
.active_icon_text {
  width: 500px;
  height: 42px;
  background: #fff;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid #e9b31f;
  border-radius: 25px;
  overflow: hidden;
  z-index: 99999;
}
select {
  -webkit-appearance: none !important;
  -moz-appearance: none !important;
  text-indent: 1px;
  text-overflow: "";
}
.active_search_icon {
  background: #eead41;
  padding: 10px 13px;
  margin-right: -9px;
  font-size: 14px;
  cursor: pointer;
}
.list_items_btn button {
  background: #03397e;
  height: 50px;
  width: 130px;
  border: none;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.842);
  margin-left: 20px;
  font-size: 17px;
  font-weight: 500;
  outline: none;
}
.list_items_btn_mobile button {
  background: #03397e;
  height: 40px;
  width: 120px;
  border: none;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.842);
  font-size: 17px;
  font-weight: 500;
  outline: none;
}
.list_items_btn_active button {
  background: #03397e !important;
  height: 42px;
  width: 117px;
  border: none;
  border-radius: 25px;
  color: rgba(255, 255, 255, 0.842);
  margin-left: 8px;
  font-size: 17px;
  font-weight: 500;
  outline: none;
}

::-webkit-datetime-edit {
  color: transparent;
}
:focus::-webkit-datetime-edit {
  color: transparent;
}
input[type="date"] {
  color: transparent !important;
}
input:focus::-webkit-datetime-edit {
  color: transparent !important;
}
@media only screen and (max-width: 1220px) {
  .active_search_icon {
    background: #eead41;
    padding: 15px 17px;
    margin-right: -21px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 1191px) {
  .active_icon_text {
    height: 42px;
    width: 395px;
  }
  .active_search_icon {
    background: #eead41;
    padding: 15px 11px;
    margin-right: -6px;
    cursor: pointer;
  }
}
@media only screen and (max-width: 991px) {
  .active_icon_text {
    height: 36px;
    width: 260px;
    left: 30%;
  }
  .active_search_icon {
    background: #eead41;
    padding: 15px 17px;
    margin-right: -9px;
    cursor: pointer;
  }
  .list_items_btn_active button {
    height: 37px;
    width: 91px;
    font-size: 10px;
  }
}
@media only screen and (max-width: 768px) {
  .icon_text {
    width: 400px;
    height: 40px;
  }
  .active_icon_text {
    height: 40px;
  }
  .active_search_icon {
    background: #eead41;
    padding: 15px 17px;
    margin-right: -10px;
    cursor: pointer;
  }
  .active_selector select {
    font-size: 13px;
  }
  .list_items_btn_active button {
    display: none;
  }
  .list_items_btn button {
    height: 40px;
    width: 116px;
  }
}
@media only screen and (max-width: 600px) {
  .list_items_btn button {
    display: none;
  }
  .search_icon {
    background: #eead41;
    padding: 12px 17px;
    margin-right: -7px;
    cursor: pointer;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .active_icon_text {
    height: 30px;
    width: 270px;
  }
  .active_search_icon {
    background: #eead41;
    padding: 15px 17px;
    margin-right: -10px;
    cursor: pointer;
  }
  .active_search_icon .fas {
    font-size: 12px;
  }
  .active_selector select {
    font-size: 11px;
  }
  .selector {
    padding: 0px;
  }
}
