@import "../variables.css";
@import "../siteadmin/newcommonstyle.css";
.root {
  background: #fff;
}
.categories_btn select {
  background: transparent;
  color: #fff;
  font-size: 17px;
  border: 1px solid #fff;
  border-radius: 25px;
  /* font-weight: 600; */
  padding: 8px 16px;
  margin: 0px 20px;
}
.container {
  margin: 0 auto;
  padding: 0px;
  max-width: 100%;
}
.rentAllHeader {
  background: #fff;
  border-width: 0px 0px 1px 0px;
  border-color: #dce0e0;
  border-radius: 0px;
  min-height: 83px;
  line-height: 81px;
  width: 100%;
  box-shadow: none;
  margin-bottom: 0px;
  z-index: 7;
}
.fixedHeader {
  position: fixed;
  width: 100%;
  left: 0px;
  right: 0px;
  height: auto;
  max-height: 100vh;
}
.rentAllHeaderBorderLess {
  border: 0px;
  box-shadow: none;
}
.brand {
  line-height: inherit;
  vertical-align: middle;
  text-decoration: none;
  height: 81px;
  float: left;
  padding: 0px 19px;
  color: #484848;
  font-size: 24px;
  font-weight: normal;
}

.category_btn {
  float: left;
  padding-top: 20px;
}
.active_category_btn {
  float: left;
  padding-top: 20px;
}
.category_btn button {
  background: transparent;
  padding: 7px 25px;
  color: #fff;
  border: 1px solid #fff;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.active_category_btn button {
  background: transparent;
  padding: 7px 25px;
  color: #000 !important;
  border: 1px solid #000;
  border-radius: 20px;
  display: flex;
  align-items: center;
}
.brand:hover,
.brand:focus {
  text-decoration: none;
  backface-visibility: hidden !important;
}
.brandImg {
  display: table-cell;
  padding-left: 12px;
  padding-right: 12px;
  max-width: 180px;
  backface-visibility: hidden !important;
}
.brandImg img {
  max-width: 180px;
  backface-visibility: hidden !important;
}
.brandImgToggle {
  padding-left: 12px;
  padding-right: 12px;
  backface-visibility: hidden !important;
}
.navBarToggle {
  color: #484848;
  float: right;
  font-size: inherit;
  line-height: inherit;
  vertical-align: middle;
  border: 0px;
  border-radius: 0px;
  margin: 0px;
  padding: 0px 19px 0px 0px;
  backface-visibility: hidden;
  height: 81px;
  margin-right: 10px;
}
.rentAllHeaderAdmin {
  background: #fff;
  border-width: 0px 0px 1px 0px;
  border-color: #dce0e0;
  border-radius: 0px;
  min-height: 63px;
  line-height: 63px;
  width: 100%;
  box-shadow: none;
  margin-bottom: 0px;
  z-index: 1001;
}
.navBarToggle:hover,
.navBarToggle:focus,
.navBarToggle:hover:focus {
  background: none !important;
}
.brandAdmin {
  line-height: inherit;
  vertical-align: middle;
  text-decoration: none;
  height: 63px;
  float: none;
  padding: 0px 19px;
  color: #484848;
  font-size: 24px;
  font-weight: normal;
}
.listHeaderFixed {
  position: fixed;
  width: 100%;
  height: 100vh;
}
.hamburgerIcon {
  font-size: 20px;
  margin-top: 20px;
  float: right;
}
@media screen and (max-width: 1200px) {
  .breakPoint {
    display: none !important;
  }
  .mobileMenu {
    position: absolute;
    width: 100%;
    background: #fff;
    top: 0px;
    height: auto;
    z-index: 5;
    right: -100%;
    transition: 0.5s;
    height: 100vh;
    overflow-y: scroll;
    -webkit-overflow-scrolling: touch;
  }
  .menuOpen {
    right: 0;
    transition: 0.5s;
  }
  .menuClose {
    right: -100%;
  }
  .closeColor {
    color: #0009;
    font-size: 36px;
    position: absolute;
    display: block;
    top: -11px;
    padding: 0;
    right: 22px;
    z-index: 8;
  }
  .closeButtonPosition img {
    width: 15px;
    height: 15px;
  }
  .closeButtonPosition {
    position: fixed;
    top: 0px;
    width: 100%;
    background: #fff;
    height: 60px;
    z-index: 6;
    overflow: hidden;
  }
  .rightMenuClose {
    position: relative;
  }
}
/* Mobile Search Option */
.mobile_searchOption {
  display: none;
}
.navbar-brand {
  margin-left: -50px !important;
}
.navbar-default .navbar-brand {
  color: #777;
  margin-left: -50px;
}
.navbar-default .navbar-brand {
  color: #777;
  margin-left: -50px;
}
.menuToggleBtn {
  background-color: #000 !important;
}
@media screen and (max-width: 1199px) {
  .mobile_searchOption {
    display: block;
    width: 500px;
    position: absolute;
    left: 37%;
    top: 15px;
  }
  .navbar-default .navbar-brand {
    padding: 15px 0;
  }

  .brandImg img {
    max-width: 180px;
    backface-visibility: hidden !important;
    padding-top: 25px;
    margin-left: 30px;
  }
  /* .active_mobile_searchOption{
    display: block;
    width: 500px;
    position: absolute;
    left: 37%;
    top: 15px;
  } */
}
@media screen and (max-width: 929px) {
  .mobile_searchOption {
    width: 370px;
    left: 41%;
    top: 34px;
  }
  .brand {
    padding: 0px;
  }
  .mobile_searchOption button {
    display: none !important;
  }
  .category_btn button {
    margin-left: 10px;
  }
}

@media screen and (max-width: 767px) {
  .rentAllHeader {
    height: auto;
    line-height: 60px;
    min-height: 65px;
  }
  .rentAllHeader {
    height: auto;
    line-height: 60px;
    min-height: 65px;
  }
  .closeColor {
    top: -2px;
  }
  .mobile_searchOption {
    width: 320px;
    left: 44%;
    top: 34px;
  }
}

@media screen and (max-width: 670px) {
  .mobile_searchOption {
    width: 271px;
    left: 45%;
    top: 32px;
  }
  /* .navbar-default .navbar-brand {
    color: #777;
    margin-left: 31px;
    display: flex;
    justify-content: space-between;
    align-items: center;
  } */
  .logo_main {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 49px;
    margin-left: -40px;
  }
  .category_btn {
    float: left;
    padding-top: 0px !important;
  }
  .active_category_btn {
    float: left;
    padding-top: 20px !important;
  }
  .mobile_searchOption select {
    font-size: 11px !important;
  }
  .hamburgerButton {
    position: absolute;
    top: 25px;
    right: 15px;
  }
}
@media (max-width: 480px) and (min-width: 320px) {
  .mobileMenu {
    padding-bottom: 80px;
  }
  .logo_main {
    width: 100%;
    display: flex;
    align-items: center;
    padding-top: 49px;
    margin-left: -40px;
  }
  .active_logo_main {
    width: 100%;
    color: #777;
    display: flex;
    justify-content: space-between;
    align-items: center;
  }
  .mobile_searchOption {
    width: 270px;
    left: 4%;
    top: 62px;
  }
  .mobile_searchOption select {
    font-size: 11px !important;
  }
  /* .categories_btn select {
    background: transparent;
    color: #fff;
    font-size: 10px !important;
    border: 1px solid #fff;
    border-radius: 25px;
    /* font-weight: 600; 
    padding: 6px 12px;
    margin: 0px 14px;
  } */
  .logo_main {
    margin-left: -40px;
  }
}
