@import "../../variables.css";
@import "../../utils.css";
@import "../../helpers.css";
@import "../admin-common.css";
select {
  width: 100%;
}
.deleteBtn {
  padding: 8px 10px;
  border: 1px solid #e8a435;
  border-radius: 3px;
  background: transparent;
  color: #e8a435;
}
