@import "../../../components/variables.css";
@import "../admin-common.css";
@import "../admin-form.css";
@import "../../common.css";
@import "../../helpers.css";
.selectField {
  display: flex;
  -webkit-box-flex: 3;
  -ms-flex-positive: 3;
  flex-grow: 3;
  align-content: center;
  justify-content: space-around;
  flex-direction: column;
}
.selectField input {
  padding: 8px;
  border: 1px solid #ddd;
  border-radius: 3px;
}
