@font-face {
  font-family: "Avenir-Roman";
  src: local("Avenir-Roman"), url("../../font/Avenir-Roman.woff") format("woff");
  font-display: swap;
}

/* filter */
.common_btn {
  background: transparent;
  padding: 6px 15px;
  border-radius: 20px;
  border: 1px solid gray;
  color: gray;
  font-size: 12px;
  margin: 10px;
  outline: none;
}
.common_btn select {
  background: none !important;
  border: none !important;
  color: gray !important;
}
.common_btn select:focus {
  background: transparent !important;
  border: none !important;
  outline: none !important;
}
.all {
  display: inline-block;
}
.all img {
  width: 20px;
  margin-right: 5px;
}
.all h5 {
  font-size: 15px;
  color: gray;
  margin-bottom: 0;
}
.category_search_init {
  width: 36% !important;
  position: absolute;
  z-index: 99;
  bottom: 37% !important;
  left: 50%;
  transform: translate(-50%);
  transition: all 1s ease-in-out;
}
.category_search_init button {
  display: none;
}
/* category user profile */
.category_profile {
  display: flex;
  align-items: center;
  justify-content: flex-end;
  padding: 30px 0;
}
.hesting_text h6 {
  font-size: 14px;
  font-weight: 600;
  margin-right: 16px;
  margin-top: 4px;
}
.lan_icon {
  margin-right: 8px;
}
.user_profile_category {
  width: 70px;
  display: flex;
  justify-content: space-around;
  align-items: center;
  border: 1px solid rgb(214, 212, 212);
  border-radius: 20px;
  padding: 5px;
  cursor: pointer;
}
.hamba img {
  width: 14px;
}
.user_img img {
  width: 30px;
  height: 30px;
  border-radius: 50%;
}

/* map */
.map {
  width: 100%;
  height: 85vh;
}

/* category bg */
.category_bg {
  background: url("../../components/Home/homeImg/Banner/Electronics desktop.jpg");
  background-repeat: no-repeat;
  background-size: cover;
  width: 100%;
  height: 55vh;
}
.category_banner_text {
  margin-left: 200px;
  padding-top: 80px !important;
  font-family: "Avenir-Roman";
  color: #fff;
}
.category_main_title h1 {
  font-size: 60px;
  font-weight: 700;
  margin: 0px !important;
}
.category_sub_title h5 {
  font-size: 18px;
  font-weight: 600;
}
.category_color_title h5 {
  color: #fff;
  background: #fcba21;
  display: inline-block;
  padding: 0 !important;
  margin: 0 !important;
  font-weight: 700;
}
/* filter end */

.maptitle {
  color: gray;
  padding-bottom: 30px;
}
.category_img {
  max-width: 125px;
}
.category_img img {
  width: 100%;
  height: 138px;
  object-fit: cover;
  border-radius: 10px;
  padding: 0px;
  margin: 0;
}
.category_main {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}
.category_main .col-md-4 {
  flex: 0 0 auto;
  width: 28.333333%;
}

.subtitle {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.heart img {
  width: 15px;
  height: 15px;
  object-fit: contain;
}
.subtitle h6 {
  font-size: 12px;
  color: gray;
}
.titile h3 {
  font-size: 11px;
  font-weight: 600;
  margin: 0px;
}
.mony_review {
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.mony_review p {
  font-size: 12px;
}
.category_star img {
  width: 15px;
  height: 15px;
  object-fit: cover;
  margin-bottom: 5px;
}

.category_price {
  font-weight: 600;
}
.category_star .fas {
  color: crimson;
}
.review_total,
.totalPrice {
  color: gray;
}
.totalPrice {
  border-bottom: 1px solid rgb(228, 227, 227);
}
.padding_s {
  padding-left: 0px !important;
}
.padding_e {
  padding-right: 0;
  max-width: 170px;
}
.margin_none {
  margin: 0px;
}
@media only screen and (max-width: 1300px) {
  .category_search_init {
    bottom: 25.5% !important;
  }
}
@media only screen and (max-width: 1024px) {
  .padding_s {
    padding-left: 1rem !important;
  }
  .category_search_init {
    bottom: 25% !important;
  }
  .category_img img {
    width: 100%;
  }
}
@media only screen and (max-width: 768px) {
  .category_bg {
    background: url("../../components/Home/homeImg/Banner/Electronics mobile.jpg");
    background-repeat: no-repeat;
    background-size: cover;
    width: 100%;
    height: 55vh;
  }
  .category_main_title h1 {
    font-size: 35px;
    font-weight: 700;
  }
  .category_search_init {
    width: 80% !important;
    bottom: 27.5% !important;
  }
  .category_search_init button {
    display: block;
  }
  .category_banner_text {
    padding-top: 60px !important;
    margin-left: 100px;
    color: #fff;
  }
  .category_img img {
    max-width: 125px;
  }
}
@media only screen and (max-width: 500px) {
  .category_banner_text {
    padding-top: 133px !important;
    margin-left: 10px;
    color: #fff;
  }
  .category_search_init {
    width: 80% !important;
    bottom: 27.5% !important;
  }
  .category_search_init button {
    display: none;
  }
  /* .category_main {
    flex-direction: column;
  } */
  .padding_s {
    padding-left: 1rem !important;
  }
}
@media only screen and (width: 390px) {
  .category_search_init {
    width: 90% !important;
    bottom: 33.1% !important;
  }
  .category_search_init select {
    font-size: 11px !important;
  }
  .category_search_init .SearchOption-search_icon {
    margin-right: 2px !important;
  }
}
